<html>
  <body>
    <h1>FQDN <%= node['fqdn'] %></h1>
    <h1>Platform <%= node['platform'] %></h1>
    <h1>Platform Version <%= node['platform_version'] %></h1>
    <h1>IP Address <%= node['ipaddress'] %></h1>
    <h1>Hostname <%= node['hostname'] %></h1>
    <h1>Recipes <%= node['recipes'] %></h1>
  </body>
</html>
